@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BTNS GITH & IN */
.icons-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.item {
  list-style: none;
  margin: 0 15px;
}

.item a {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
}


.item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b91c1c;
  transition: 0.5s;
  transform: scale(0.9);
  z-index:-1;
}

.item a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #b91c1c;

}

.item a:hover {
  color: #b91c1c;
  box-shadow: 0 0 5px #b91c1c;
  text-shadow: 0 0 5px #b91c1c;


}
@media(min-width:600px) {
  .icons-wrapper{
    margin-bottom: 3rem;
  }
  .item a {
    width: 60px;
    height: 60px;
    font-size: 37px;
  }
}
@media(min-width:1100px) {
  .icons-wrapper{
    margin-bottom: 5rem;
  }
  .item a {
    width: 70px;
    height: 70px;
    font-size: 46px;
  }
}
/* BTN-DATA CONTACT */
.btn {
  width: 100%;
  border: 1px solid rgb(37, 37, 39);
  cursor: crosshair;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  transform: translateX(-100%);
  transition: all 0.9s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

#contact {
  position: relative !important;
}

/* BTN ABOUT */
 #btn-about a {
  position: relative;
  display: inline-block;
  padding: 10px 27px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  text-decoration: none;
}

#btn-about a::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 5px);
  height: calc(100% - 12px);
  background-color: rgb(24 24 27);
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

#btn-about  a:hover::before {
  transform: scaleY(0);
}

#btn-about a::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: rgb(24 24 27);
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

#btn-about a:hover::after {
  transform: scaleX(0);
}

#btn-about a span {
  position: relative;
  z-index: 3;
}

#btn-about button {
  border: none;
}