@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BTNS GITH & IN */
.icons-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.item {
  list-style: none;
  margin: 0 15px;
}

.item a {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
}


.item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b91c1c;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.item a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #b91c1c;
}

.item a:hover {
  color: #b91c1c;
  box-shadow: 0 0 5px #b91c1c;
  text-shadow: 0 0 5px #b91c1c;
}
@media(min-width:600px) {
  .icons-wrapper{
    margin-bottom: 3rem;
  }
  .item a {
    width: 60px;
    height: 60px;
    font-size: 37px;
  }
}
/* BTN-DATA CONTACT */
.btn {
  width: 100%;
  border: 1px solid rgb(37, 37, 39);
  cursor: crosshair;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  transform: translateX(-100%);
  transition: all 0.9s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

#contact {
  position: relative !important;
}

/* BTN ABOUT */
.ui-btn {
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 1s;
  --btn-animation-duration: 2.5s;

  --hover-btn-color: #000000;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-family: Menlo, Roboto Mono, monospace;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  font-weight: 900;
}

.ui-btn span {
  transition: var(--btn-transition);
  position: relative;
  background: inherit;
  z-index: 50;
  letter-spacing: 0.2rem;
  font-weight: 900;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
  font-weight: 900;
}

.ui-btn:hover span,
.ui-btn:focus span {
  font-weight: 900;
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
    color: #000000;
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
    color: #000000;
  }

  15% {
    content: "-!";
    color: #b91c1c;
  }

  20% {
    content: "#$_";
    color: #b91c1c;
  }

  25% {
    content: "№:0";
    color: #000000;
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
    color: #000000;
  }

  40% {
    content: "?{4@%";
    color: #000000;
  }

  45% {
    content: "=.,^!";
    color: #b91c1c;
  }

  50% {
    content: "?2@%";
    color: #b91c1c;
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
    color: #b91c1c;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
    color: #b91c1c;
    color: #000000;

  }

  75% {
    content: "'1_0<";
    right: 0;
    color: #000000;

  }

  80% {
    content: "{0%";
    right: 0;
    color: #000000;
  }

  85% {
    content: "]>'";
    right: 0;
    color:#b91c1c;
  }

  90% {
    content: "4";
    right: 0;
    color: #000000;
  }

  95% {
    content: "2";
    right: 0;
    color: #b91c1c;
  }

  100% {
    content: "";
    right: 0;
    color: #000000;
    font-weight: 900;
  }
}
